:root {
  --color-primary: #fecf30;
  --color-secondary: #262626;
  --color-secondary-bck: rgba(38, 38, 38, 0.95);
  --color-secondary-light: #a6a09c;
  --color-secondary-lightest: #f2f2f2;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #d64933;
  --color-red-bck: rgba(214, 73, 51, 0.75);

  --font-size-heading-1: 72px;
  --font-size-heading-2: 36px;
  --font-size-subtitle: 36px;
  --font-size-body-1: 24px;
  --font-size-body-2: 18px;
  --font-size-footer: 14px;

  --border-radius: 25px;

  --fab-size: 56px;
  --fab-radius: 28px;

  --box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: 'FredokaOne';
  src: url('./assets/fonts/Fredoka_One/FredokaOne-Regular.ttf')
    format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

body {
  margin: 0;
  padding: 20px;
  background-color: var(--color-secondary-bck);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'FredokaOne';
  color: white;
  margin: 0;
}

p,
span,
label,
input {
  font-family: 'Roboto';
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
}

.mr-15 {
  margin-right: 15px;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.heading-1 {
  font-size: var(--font-size-heading-1);
}

@media screen and (max-width: 600px) {
  .heading-1 {
    font-size: var(--font-size-heading-2);
  }
}

.heading-2 {
  font-size: var(--font-size-heading-2);
}

@media screen and (max-width: 600px) {
  .heading-2 {
    font-size: var(--font-size-body-1);
  }
}

.subtitle {
  font-size: var(--font-size-subtitle);
  font-weight: 100;
}

@media screen and (max-width: 600px) {
  .subtitle {
    font-size: var(--font-size-body-1);
  }
}

.text-body-1 {
  font-size: var(--font-size-body-1);
  font-weight: 500;
}

.text-body-2 {
  font-size: var(--font-size-body-2);
  font-weight: 400;
}

.text-footer {
  font-size: var(--font-size-footer);
  font-weight: 400;
}

.text-error {
  font-size: var(--font-size-body-2);
  background-color: var(--color-red-bck);
  color: var(--color-white);
  margin: 10px 0;
  padding: 15px;
  border-radius: var(--border-radius);
  text-align: center;
  font-weight: 300;
}

.button {
  background-color: var(--color-primary);
  color: var(--color-black);
  font-size: var(--font-size-body-2);
  font-weight: 300;
  height: 50px;
  border-radius: var(--border-radius);
  min-width: 150px;
  padding-left: 25px;
  padding-right: 25px;
  outline: none;
  border: none;
}

.text-button {
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  font-size: var(--font-size-body-2);
  font-weight: 300;
  height: 50px;
  min-width: 150px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: var(--border-radius);
  outline: none;
}

.text-button.red {
  color: var(--color-red);
  border-color: var(--color-red);
}

.icon-button {
  background-color: transparent;
  color: var(--color-white);
  height: 30px;
  width: 30px;
  padding-left: 25px;
  padding-right: 25px;
  outline: none;
  border: none;
}

.info-button {
  background-color: transparent;
  color: var(--color-primary);
  font-size: var(--font-size-body-2);
  font-weight: 400;
  outline: none;
  border: none;
}

.fab {
  position: fixed;
  right: var(--fab-radius);
  bottom: var(--fab-radius);
  border-radius: var(--fab-radius);
  background-color: var(--color-primary);
  color: var(--color-black);
  outline: none;
  border: none;
  box-shadow: var(--box-shadow);
  width: var(--fab-size);
  height: var(--fab-size);
}

.button:hover,
.text-button:hover,
.info-button:hover,
.fab:hover {
  cursor: pointer;
}

.input-text-field {
  display: inline-block;
  font-size: var(--font-size-body-2);
  font-weight: 300;
  background-color: var(--color-secondary-lightest);
  border-radius: var(--border-radius);
  color: var(--color-black);
  min-height: 50px;
  outline: none;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  max-width: 600px;
  resize: none;
  overflow-y: hidden;
}

@media screen and (max-width: 600px) {
  .input-text-field {
    width: auto;
  }
}

.input-text-field:active,
.input-text-field:focus {
  box-shadow: var(--box-shadow);
}

.search-bar-container {
  position: relative;
  text-align: center;
}

.search-bar-container > img {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}

.search-bar-container > input {
  padding-left: 50px;
}

.link-text {
  text-decoration: none;
  color: var(--color-white);
}

.card {
  background-color: var(--color-secondary-light);
  border-radius: var(--border-radius);
}

.card:hover,
.card:active,
.card:focus {
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.logo {
  max-width: 100%;
}

.logo-small {
  max-width: 350px;
}

.icon {
  width: 24px;
  height: 24px;
}

/* Homepage */
.home-navbar {
  text-align: right;
}

.home-container {
  display: flex;
}

.home-container > * {
  flex: 1;
  align-self: center;
}

/* Authentication */
.auth-container {
  display: flex;
}

.auth-container > * {
  flex: 1;
  align-self: center;
}

.auth-form {
  max-width: 350px;
  margin-top: 25px;
}

.auth-submit {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 5px;
}

/* Dashboard */
.list-header {
  display: flex;
  align-items: center;
}

.list-header > p,
.list-header > h1 {
  flex: 1;
}

@media screen and (max-width: 600px) {
  .list-header {
    display: block;
  }

  .list-header > p {
    margin-bottom: 5px;
  }
}

.card-list {
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 70px;
}

.card-item * {
  color: var(--color-black);
}

.card-item > div {
  padding: 20px;
}

.card-item > div > p {
  flex: 1;
}

/* Categories */
.category-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

@media screen and (max-width: 600px) {
  .category-container {
    display: block;
  }
}

.loading-container {
  text-align: center;
}

.no-data-container {
  text-align: center;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.open {
  display: block;
}

.modal-content {
  background-color: var(--color-secondary);
  margin: 40px auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.modal-body {
  margin-top: 15px;
}

.modal-body .input-text-field {
  margin-bottom: 10px;
}

.modal-footer {
  text-align: right;
  margin-top: 10px;
}

/* Loading spinner */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-spinner div {
  transform-origin: 20px 20px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 1.5px;
  left: 18.5px;
  width: 3px;
  height: 9px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
