:root {
  --color-primary: #fecf30;
  --color-secondary: #262626;
  --color-secondary-bck: rgba(38, 38, 38, 0.95);
  --color-secondary-light: #a6a09c;
  --color-secondary-lightest: #f2f2f2;
  --color-black: #000000;
  --color-white: #ffffff;

  --font-size-heading-1: 72px;
  --font-size-heading-2: 36px;
  --font-size-subtitle: 36px;
  --font-size-body-1: 24px;
  --font-size-body-2: 18px;
  --font-size-footer: 14px;

  --border-radius: 25px;
}

@font-face {
  font-family: "FredokaOne";
  src: url("./fonts/Fredoka_One/FredokaOne-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

body {
  margin: 0;
  padding: 20px;
  background-color: var(--color-secondary-bck);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "FredokaOne";
  color: white;
  margin: 0;
}

p,
span,
label,
input {
  font-family: "Roboto";
  color: white;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.heading-1 {
  font-size: var(--font-size-heading-1);
}

.heading-2 {
  font-size: var(--font-size-heading-2);
}

.subtitle {
  font-size: var(--font-size-subtitle);
  font-weight: 100;
}

.text-body-2 {
  font-size: var(--font-size-body-2);
  font-weight: 400;
}

.button {
  background-color: var(--color-primary);
  color: var(--color-black);
  font-size: var(--font-size-body-2);
  font-weight: 300;
  height: 50px;
  border-radius: var(--border-radius);
  min-width: 150px;
  padding-left: 25px;
  padding-right: 25px;
  outline: none;
  border: none;
}

.text-button {
  background-color: transparent;
  color: var(--color-white);
  font-size: var(--font-size-body-2);
  font-weight: 300;
  height: 50px;
  min-width: 150px;
  padding-left: 25px;
  padding-right: 25px;
  outline: none;
  border: none;
}

.button:hover,
.text-button:hover {
  cursor: pointer;
}

.input-text-field {
  font-size: var(--font-size-body-2);
  font-weight: 300;
  background-color: var(--color-secondary-lightest);
  border-radius: var(--border-radius);
  color: var(--color-black);
  min-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  margin-top: 2px;
  width: 100%;
}

.link-text {
  text-decoration: none;
  color: var(--color-white);
}

/* Homepage */
.home-navbar {
  text-align: right;
}

.home-container {
  display: flex;
}

.home-container > * {
  flex: 1;
  align-self: center;
}

.home-logo {
  max-width: 100%;
}

/* Authentication */
.auth-container {
  display: flex;
}

.auth-container > * {
  flex: 1;
  align-self: center;
}

.auth-form {
  max-width: 350px;
  margin-top: 25px;
}

.auth-submit {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 5px;
}
